/*
=============
Variables
=============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #8b6220;
  --clr-primary-2: #9e752c;
  --clr-primary-3: #b08737;
  /* primary/main color */
  --clr-primary-5: #9b927e;
  /* lighter shades of primary color */
  --clr-primary-6: #ccc1a9;
  --clr-primary-7: #fcf5e4;
  --clr-primary-8: #f1ead9;

  /*secondary color*/
  --clr-secondary-1: rgba(126, 74, 48, 0.8);
  --clr-secondary-2: #720e07;

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-white: #fff;
  --clrred-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-primary-7);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*section*/
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
============
Recipes
============
*/
.recipes {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.recipe {
  position: relative;
  overflow: hidden;
}
.recipe img {
  width: auto;
  height: 400px;
  display: block;
  object-fit: cover;
}
.recipe-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  transition: var(--transition);
}
.recipe-info h4 {
  padding: 0 5px;

  color: var(--clr-white);
  margin-bottom: 0.25rem;
}
.recipe-info p {
  padding: 0 5px;

  margin-bottom: 0;
  color: var(--clr-white);
}
.recipe:hover .recipe-info {
  transform: translateY(0);
}

/*
===========
Single Recipe
===========
*/

.single-recipe {
  width: 90vw;
  max-width: var(--max-width);
  margin: 4rem auto;
  display: grid;
  gap: 2rem;
  text-align: center;
}
.single-recipe img {
  display: block;
  max-height: 80vh;
  width: auto;
  max-width: 100%;
  margin: auto;
}
.single-recipe p {
  max-width: 35rem;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.8;
}
.btn {
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  background: var(--clr-secondary-1);
  color: var(--clr-white);
  border-radius: var(--radius);
  display: inline-block;
  margin-top: 0.5rem;
  letter-spacing: var(--spacing);
}

@media screen and (min-width: 700px) {
  .single-recipe {
    grid-template-columns: 1fr 2fr;
  }
}

.page-error {
  text-align: center;
  padding: 2rem;
}
/*
=============== 
Search
===============
*/
.search-form {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.form-input {
  width: 100%;
  border: transparent;
  max-width: 600px;
  background: var(--clr-white);
  border: var(--clr-secondary-1);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: var(--radius);
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  margin-top: 1rem;
}
.error {
  color: var(--clr-red-dark);
  text-transform: capitalize;
  padding-top: 0.5rem;
  letter-spacing: var(--spacing);
}

/*
=============
Navbar
=============
*/

nav {
  display: block;
  background-color: var(--clr-white);
  box-shadow: var(--dark-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-black);
  background-color: transparent;
  background: transparent;
  transition: var(--transition);
  cursor: pointer;
  border: none;
}

.logo {
  transform: scale(2, 2);
  height: 40px;
  padding: 0 0.5rem;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.links {
  margin: 0;
  padding: 0rem;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.2rem 1.5rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
}
.my-social-icons {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    margin: 0;
  }
  .links a:hover {
    background: transparent;
  }

  .my-social-icons {
    display: flex !important;
    margin: 0rem;
    padding: 0rem;
  }
  .my-social-icons a {
    margin: 0 0.2rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .my-social-icons a:hover {
    color: var(--clr-primary-6);
  }
}

/*
===========
About page
===========
*/

/*header*/
.about-me-header {
  text-align: center;
}

.about-me h2 {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.underline {
  width: 6rem;
  height: 0.2rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
/*main content*/
.about-us-content {
  padding: 2rem;
}

/*info about project - left column on grid*/
.about-us-info p {
  letter-spacing: var(--spacing);
  font-size: 22px;
}

.about-us-info {
  text-align: center;
}

/*info about developer - right column on the grid*/
.developer {
  text-align: center;
  padding: 0 2rem;
}
.developer img {
  max-width: 80%;
}

@media screen and (min-width: 800px) {
  .about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
